.database{
    background-color: #e7e7e747;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 2rem;
    height: 80vh%;
}

.database__title{
    font-family: var(--first-font);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.database__buttons{
    display: flex;
    gap: 1rem;
}

.database__button{
    background-color: var(--black);
    color: var(--white);
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    font-family: var(--secondary-font);
    font-size: 1rem;
    cursor: pointer;
}

.database__button:hover{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}